.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 10%;

    margin-left:100px;
}
.h2{
    margin-top: 30px;
    
    
}

.InputStyle {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;

}

.search{
    float:right;
    position: relative;
    width: 220px;
    margin-top:0px;
    margin-bottom: 30px;

}


}
.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }


.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttonDiv button {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.accTable{
    width: 1100px;
    border-collapse: collapse
}

.accTable tr:hover { 
    background-color: #F5F5F5; 
}

.accTable tr {
    cursor: pointer;
    border-bottom: 1px solid rgba(168, 165, 165, 0.945);
}

.accTable th {
    cursor: pointer;
    padding-top : 10px;
   padding-bottom: 10px;
   border-top: 2px solid rgba(60, 63, 212, 0.945);
   border-bottom: 2px solid rgba(60, 63, 212, 0.945);
}

.accTable td {
    padding-top:20px;
    padding-bottom: 20px;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
    font-weight: bold;
    color:rgb(112, 112, 112);
}

.pagingBtn:hover{
    cursor: pointer;
    background-color:  rgba(60, 63, 212, 0.945);
}

.InputStyle {
    
    
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    
}

.search{
    position: relative;
    width: 200px;
  
}
.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 1px;
    margin: 0;
  }