.NavbarDiv {
  
   
}

h5{
    min-width: 100px;
}
.NavlistUl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100px;
    list-style:none;
    padding-left:0px;    
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:10px;
  
    border-bottom: solid 1px rgb(178, 179, 184);
}

.NavlistUl li {
    min-width: 150px;
    height: auto;
    text-align: left;
}

.NavlistUl:hover, .NavlistUl:focus, .NavlistUl:active{
    text-decoration: none;
    color: rgb(73, 106, 212);
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;    
    color: black;
}

a:hover, a:focus, a:active{
    text-decoration: none;
    color: rgb(73, 106, 212);
    font-weight: bold;
}

