.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 100%;
    width: 60%;
    
}
.InputStyle {
    width: 200px;
    height: 25px;    
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    text-indent: 1em;
    background-color: rgb(230, 230, 230);
    float: right;
    
}



.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttonDiv button {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.teacherTable{
    width: 900px;
}

.teacherTable tr:hover { 
    background-color: #F5F5F5; 
}

.teacherTable tr {
    cursor: pointer;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: burlywood;
}