.member{
    width: 700px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 110px;
}

.tea p{
    font-size: 30px;
    color: #2957c9;
    margin-top: 40px;
    font-weight: bold;
    
}


.member label{
    font-size: 15px;
}

.member input{
    width : 220px;
    height : 30px;
    border : 1px solid #dedbdb;
    border-radius: 5px;
    outline-style: none;
    margin-bottom: 10px;
    background-color: #F4F6FB;
}


input[type="radio"]{
    font-size: 0.8em;
    width: 0.8em;
    height: 0.8em; 
}



.teaBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	display:inline-block;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    margin-left: 300px;
    font-weight: bold;    
    margin-top: 20px;
}

.teaBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.teaBtn:active{
    position:relative;
	top:1px;
}


.uploadBtn1{
    width: 300px;
    height: 300px;
    border:1px solid #3f6fe9;
    border-radius: 1000px;
    margin-left: 150px;
    margin-top: 80px;
}

.uploadBtn2{
    width: 300px;
    height: 300px;
    border-radius:1000px;
}

