.member{
    width: 700px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 110px;
    
}

.tea{
    width: 800px;
    height: 850px;
    box-shadow: 5px 5px 5px 5px rgba(34, 36, 38, 0.15);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
}

.tea p{
    font-size: 30px;
    color: #2957c9;
    margin-top: 40px;
    margin-left: 50px;
    font-weight: bold;
    
}

.member label{
    font-size: 15px;
}

.member input{
    width : 220px;
    height : 30px;
    border : 1px solid #dedbdb;
    border-radius: 5px;
    outline-style: none;
    margin-bottom: 10px;
    background-color: #F4F6FB;
    
}


input[type="radio"]{
    font-size: 0.8em;
    width: 0.8em;
    height: 0.8em;
}



.teaBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    margin-left: auto;
    font-weight: bold;  
}

.teaBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.teaBtn:active{
    position:relative;
	top:1px;
}


.CancelBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 10px;  
    margin-bottom: 40px; 
    margin-left: 10px;
    margin-right: 100px;
    width:120px;
    
}

.CancelBtn:hover{
    background-color:#666666;
    border:1px solid #666666;
    color:  white;
}


.CancelBtn:active{
    position:relative;
	top:1px;
}




.uploadBtn1{
    width: 230px;
    height: 210px;
    margin-left: 280px;
    margin-top: 50px;
    background-image: url("../../../public/images/onoimg2.png");
}

.uploadBtn2{
    width: 220px;
    height: 210px;
    border-radius:1000px;
}

