.teacherSection{
    display: flex;
    flex-direction: row;
    width : 1300px;
    height :100%;
    margin-top: 20px;
}

h2{
    margin-top: 20px;
}
.teacherInfoDiv{
    display: flex;
    width : 80%;
    background-color: #BFC6CD;
    height:100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.teacherInfoInput {    
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    text-indent: 0.5em;
}

.teacherInfoDiv table {
    height: 100%;
    width: 100%;

    margin-top: 20px;
    margin-left: 10px;
    border-spacing: 20px;
}

.teacherTabletd {
    font-weight: bold;
    border-radius: 0px;
    background-color: #DDE7FF;
    font-weight: bold;
}

.teacherTableTd{
    height: 22%;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
}

.teacherHistoryTableTd{
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
}

.teacherHistoryTabletd{
    width: 20%;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
}

.teacherTableLabel{
    display: flex;
    background-color: #BFC6CD;
}



.teacherTable input {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: white;
    width : 100%;
    font-size: 15px;
    border : 0;
    font-weight: bold;
}


.teacherImageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BFC6CD;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.teacherImage{
    margin-top: 30px;
    width: 80%;
    height: 40%; 
    margin-left : 20px;   
    
}

.teacherImageButton{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.btnRegist{
    width: 80px;
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left : 10px;

    background-color:  #2F65EB;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: auto;  
    font-weight: bold;
    float:right;
}