.teacherSection{
    display: flex;
    flex-direction: row;
    width : 1300px;
    height :100%;
    margin-top: 20px;
    margin-left: 90px;
}

.h2{
    margin-top: 50px;
    margin-left:100px;
}

.teacherInfoDiv{
    display: flex;
    width : 100%;
    background-color: #4574eb;
    height:100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.teacherInfoInput {    
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    text-indent: 0.5em;
}

.teacherInfoDiv table {
    height: 80%;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    border-spacing: 20px;
}

.teacherTabletd {
    font-weight: bold;
    border-radius: 0px;
    background-color: #DDE7FF;
    font-weight: bold;
    border-radius: 5px;
}

.teacherTableTd{
    height: 20%;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
    border-radius: 5px;
}

.teacherHistoryTableTd{
    width: 20%;
    background-color: #DDE7FF;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.teacherHistoryTabletd{
    width: 15%;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.teacherTableLabel{
    display: flex;
    background-color: #4574eb;
    color:white;
}



.teacherTable input {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: white;
    width : 100%;
    font-size: 15px;
    border : 0;
    font-weight: bold;
}


.teacherImageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4574eb;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.teacherImage{
    margin-top: 30px;
    width: 80%;
    height: 40%; 
    margin-left : 70px;   
    object-fit:fill;
}

.teacherImageButton{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    color: #2F65EB;
}

.RegistBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;  
    margin-left: auto;
    width:80px;
    height:40px;
    
    
}

.RegistBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.RegistBtn:active{
    position:relative;
	top:1px;
}

.ModifyBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: auto;
    width:115px;
    height:40px;
}

.ModifyBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.ModifyBtn:active{
    position:relative;
	top:1px;
}


.CancelBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width:115px;
    height:40px;
}

.CancelBtn:hover{
    background-color:#666666;
    border:1px solid #666666;
    color:  white;
}


.CancelBtn:active{
    position:relative;
	top:1px;
}