.backDiv {
  width: 50%;
  height: 100%;
  background-color: white;
}

.h1{
  margin-top:40px;
  margin-bottom:30px;
}
.div1 {
  height: 70%;
  display: flex;
  background-color: whitesmoke;
}

.btn{
 width: 80px;
}

.div2 {
  padding: 20px;
  height: 10%;
  align-items: center;
  justify-content: center;
  float: right;
  bottom: 100px;
}

.section {
  display: flex;
  height: 100%;


}

.container {
  max-width: 1024px;
  height: 100%;
  width: 100vw;
}

.smsTitle {
  width: 100%;
}


.inputBox {
  overflow-x: auto;
  overflow-y: scroll;
  width: 100%;
  
}

.searchInput {
  overflow-x: auto;
  overflow-y: scroll;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
}

.searchResult1 {
  border: 1px solid black;
  background-color: white;
  width: 100%;
}

.searchResult2 {
  float: right;
  display: flex;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #8499ca;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  height: 500px;
  width: 500px;
}

.searchResult3{
  height: 200px;
  width: 500px;
  margin-left: 50px;
}

.button1{
  width: 100px;
}



.RegistBtn{
  background-color:#ffffff;
border-radius:10px;
border:1px solid #3f6fe9;
cursor:pointer;
color:#3f6fe9;
font-size:17px;
padding:5px 20px;
  font-weight: bold;
  margin-top : 10px;  
  margin-left: 100px;
  width:80px;
  
}

.RegistBtn:hover{
  background-color:#3f6fe9;
  border:1px solid #3f6fe9;
  color:  #fbfbfb;
}


.RegistBtn:active{
  position:relative;
top:1px;
}
