.backDiv {
  width: 50%;
  height: 100%;
  background-color: skyblue;
}

.div1 {
  height: 100%;
  display: flex;
  background-color: red;
}

.div2 {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: orange;
}

/* .div3 {
  background-color: greenyellow;
} */

/* .div4 {
  height: 50%;
  width: 100%;
  background-color: green;
} */

.section {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
  background-color: navy;
}

.container {
  max-width: 1024px;
  height: 100%;
  width: 100vw;
}

.smsTitle {
  width: 100%;
}

/* .selectBox {
  width: 30%;
  text-align: end;
} */

.inputBox {
  width: 100%;
}

.searchInput {
  border: 1px solid black;
  width: 80%;
}

.searchResult1 {
  border: 1px solid black;
  width: 100%;
  /* overflow: auto */
}

.searchResult2 {
  background-color: blue;
  border: 1px solid black;
  height: 500px;
  width: 500px;
  /* overflow-y:auto */
}