.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left:100px;
}

.h2{
    margin-top: 10px;
    margin-bottom:50px;
    
}


.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttonDiv button {
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}
button {
    margin-top: 10px;
    float: right;
}

.consTable{
    width: 1100px;
    text-align: center;
    border-style:none;
    border-collapse: collapse;
}
.consTable td{
    border-bottom: 0.5px solid gainsboro ;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.consTable tr:hover { 
    background-color: #F5F5F5; 
}
.consTable th{
    border-top: 2px solid #2f59ca;
    border-bottom: 2px solid #2f59ca;
} 


.consTable tr {
    cursor: pointer;
}


.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
    font-weight: bold;
    color:rgb(112, 112, 112);
    
}
.pagingBtn:hover{
    color: black;
    cursor: pointer;
}
.InputStyle {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 10px;
}



  
  .RegistBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 10px;  
    margin-left: auto;
    width:80px;
    
}

.RegistBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.RegistBtn:active{
    position:relative;
	top:1px;
}