.bodyDiv{
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttonDiv button {
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}
button {
    margin-top: 10px;
}

.consTable{
    width: 900px;
    text-align: center;
    border-style:none;
    border-collapse: collapse;
}
.consTable td{
    border-bottom: 0.5px solid gainsboro ;
    text-align: center;
}
.consTable tr:hover { 
    background-color: #F5F5F5; 
}
.consTable th{
    border-top: 2px solid #2f59ca;
    border-bottom: 2px solid #2f59ca;
} 


.consTable tr {
    cursor: pointer;
}

.pagingBtn{
    margin: 5px;
    color:rgb(119, 119, 119);
    border-style: none;
    background-color: transparent;
    font-weight: bold;
    
}

.pagingBtn:hover{
    color: black;
    cursor: pointer;
}

.InputStyle {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 10px;
}
.search{
    position: relative;
    width: 200px;
}

.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }