.QnaTableDiv {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.qnaTableCss{
    width: 900px;
    text-align: center;
    border-style:none;
    border-collapse: collapse;
}



.qnaTableCss th{
    border-top: 2px solid #2f59ca;
    border-bottom: 2px solid #2f59ca;
  
} 
.qnaTableCss tr:hover { 
    background-color: #F5F5F5; 
}

.QnaTableCss tr {
    cursor: pointer;
}

.pagingDiv{
    height: 50px
}

.pagingBtn{
    margin: 5px;
    color:rgb(119, 119, 119);
    border-style: none;
    background-color: transparent;
    font-weight: bold;
}

.pagingBtn:hover{
    color: black;
    cursor: pointer;
}

.registBtn {

    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-right:10px;
    background-color:  #2f59ca;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: auto;  
    font-weight: bold;
    float:right;
}

.InputStyle {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 10px;
}
.search{
    position: relative;
    width: 200px;
}

.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }