

.backBtn {
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
    padding:7px 20px;
    font-weight: bold;  
    
}
.backBtn:hover {
    background-color:#666666;
    border:1px solid #666666;
    color:  #fbfbfb;

}

.deleteBtn {
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #f26666;
	cursor:pointer;
	color:#f26666;
	font-size:17px;
    padding:7px 20px;
    font-weight: bold;  
}
.deleteBtn:hover {
    background-color:#f26666;
    border:1px solid #f26666;
    color:  #fbfbfb;

}


.registBtn {
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;  
    margin-left: 20px;
    

}
.registBtn:hover {
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}

.registBtn:active{
    position:relative;
	top:1px;
}



.qnaDetailtableCss{
    width: 90%;
    border-collapse: collapse;
    
    border-spacing: 50px;
}

.qnaDetailtableCss tr{
    background-color: #F6F9FF;
    border-top: 2px solid #5f81d4;
}

.qnaDetailtableCss td{
    background-color: #F6F9FF;
    border-top: 2px solid #5f81d4;
}

.qnaDetailtableCss td:nth-child(0){
   width: 500px;
}


.qnaDetailtableDiv {
    display: flex;
    
}
.qnaInputDiv input{
    border: none;
    background-color: #F6F9FF;
    width: 130px;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
   
    
}

.qnaTableDiv td:nth-child(1){
    size: 130px;
    
    
}
.qnaTableDiv{
    width: 600px;
    height: 700px;
    display: flex;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px rgba(34, 36, 38, 0.15);
    

}

.qnaInputDiv{
    display: flex;
    background-color: #F6F9FF; 
}

.contentTextArea{
    display: flex;
    resize: none;
    border: none;
    margin-top: 70px;
    margin-left: 50px;
    width: 500px;
    height: 400px;
}




.buttonDivCss {
    margin-bottom: 300px;
    margin-top: 20px;
    display: flex;
    margin-left: 320px;
}

.buttonDivCsss {
    margin-bottom: 300px;
    margin-top: 20px;
    display: flex;
    margin-left: 470px;
}

.backBtns {
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
    padding:7px 20px;
    font-weight: bold;  
    
}
.backBtns:hover {
    background-color:#666666;
    border:1px solid #666666;
    color:  #fbfbfb;

}