.qnaSection{
    border: 2px solid #cfcfcf;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.qnaInfoDiv{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 100%;
}

.qnaInfoInput {    

    border: 1px solid black;
    height: 50px;
    width: 450px;
    align-content: center;
}

.qnaInfoDiv table {
    width: 600px;
    
    border-style:none;
    border-collapse: collapse;
}

.textAreaStyle {
    width: 100%;
    height: 6.25em;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}

.qnaButtonDiv{
    display: flex;
    justify-content: center;
   

}
.qnaInfoDiv textarea {
    margin-top: 20px;
    width: 450px;
    height: 320px;
}
.qnaButtonDiv button{
    border:1px solid #2F65EB;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin: 5px 5px 5px 5px;
    background-color:#2F65EB;
    border-radius: 5px;
}

.qnaImageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qnaImage{
    margin-top: 5px;
    width: 80%;
    height: 90%;    
}

.qnaImageButton{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.backBtn {
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
    padding: 7px 20px;
    font-weight: bold;  
}
.backBtn:hover {
    background-color:#666666;
    border:1px solid #666666;
    color:  #fbfbfb;

}

.h2 h2{
    margin-top: 40px;

}
