.subjectSection{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.subjectInfoDiv{
    display: flex;
    width: 750px;
    
}

.subjectInfoInput {    
    width: 80%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    text-indent: 0.5em;
}

.subjectInfoDiv table {
    width: 100%;
}

.subjectContentInput {
    height: 400px;
    width : 720px;
}

.textAreaStyle {
    width: 100%;
    height: 6.25em;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}

.subjectButtonDiv{
    display: flex;
    justify-content: flex-end;
}
.subjectButtonDiv button{
    margin: 5px;    
    margin-top: 15px;
    margin-bottom: 15px;
    height: 25px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.subjectImageDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjectImage{
    margin-top: 5px;
    width: 80%;
    height: 90%;    
}

.subjectImageButton{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}