.classtable{
    width: 900px;
    border-bottom: 1px solid #1c4bcc;
}

.teacherTable tr:hover { 
    background-color: #F5F5F5; 
}

.teacherTable tr {
    cursor: pointer;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: rgb(37, 169, 221);
}