.backgroundDiv{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-right: 500px;
    padding: 0;
    background-color: #FFFFFF;
}

.loginDiv{    
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 0;   
}



.loginDiv input {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    text-indent: 10px;
    outline: none;
    color: #8f9299;
    border: solid 1px rgb(191, 191, 191);
}
.loginDiv input:focus{
    background-color: aliceblue;
    outline: none;
}

.loginDiv button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    width: 300px;
    color:#3f6fe9;
    font-weight: bold;
    border: none;
    background-color:#ffffff;
    border:1px solid #3f6fe9;
}

.loginDiv button:hover {
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}

.loginDiv button:active{
    position:relative;
	top:1px;
}
.loginFind {
    padding-top: 10px;
    cursor: pointer;
    color: #8f8f90;
    font-size: 15px;
}

.loginFind:hover{
    color: #3f6fe9;
}
