.studentClassTable{
    margin-left: 5%;
    margin-right: 10%;
}

.studentClassTable td {
    word-break:break-all;
}

.h2{
    margin-top:50px;
    margin-left: 150px;
}
.subjectSection{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top:30px;
}

.subjectInfoDiv{
    display: flex;
    width: 750px;
    
}

.subjectInfoDiv table {
    width: 100%;
}


.studentInfoInput {    
    width: 80%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    text-indent: 0.5em;
    float: left;
}

.memberImage{
    margin-top: 5px;
    width: 150px;
    height: 150px;    
}

.memberImageButton{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
    border-width: 0;
    background-color: white;
    color: white;
}



.RegistBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;  
    margin-left: auto;
    width:80px;
    height:40px;
    
    
}

.RegistBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.RegistBtn:active{
    position:relative;
	top:1px;
}

.ModifyBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: auto;
    width:115px;
    height:40px;
}

.ModifyBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.ModifyBtn:active{
    position:relative;
	top:1px;
}


.CancelBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width:115px;
    height:40px;
}

.CancelBtn:hover{
    background-color:#666666;
    border:1px solid #666666;
    color:  white;
}


.CancelBtn:active{
    position:relative;
	top:1px;
}

