.studentClassTable{
    margin-left: 5%;
    margin-right: 10%;
}

.studentClassTable td {
    word-break:break-all;
}

.subjectSection{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.subjectInfoDiv{
    display: flex;
    width: 750px;
    
}

.subjectInfoDiv table {
    width: 100%;
}


.studentInfoInput {    
    width: 80%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    text-indent: 0.5em;
    float: left;
}

.memberImage{
    margin-top: 5px;
    width: 150px;
    height: 150px;    
}

.memberImageButton{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
    border-width: 0;
    background-color: white;
    color: white;
}
