.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.h2{
    margin-top:50px;
}
.studentTable{
    width: 1100px;
    text-align: center;
    border-style:none;
    border-collapse: collapse;
}


.RegistBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 10px;  
    margin-left: auto;
    width:80px;
    
}

.RegistBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.RegistBtn:active{
    position:relative;
	top:1px;
}


.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.studentTable tr:hover { 
    background-color: #F5F5F5; 
}

.studentTable tr {
    cursor: pointer;
}

.studentTable td {
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 0.5px solid rgba(168, 165, 165, 0.945);


}

.studentTable th {
  
   border-top: 2px solid rgba(60, 63, 212, 0.945);
   border-bottom: 2px solid rgba(60, 63, 212, 0.945);

}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
    font-weight: bold;
    color:rgb(112, 112, 112);
}

.pagingBtn:hover{
    cursor: pointer;

}
.InputStyle {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.search{
    float:right;
    position: relative;
    width: 200px;
    margin-top:0px;
    margin-bottom: 20px;

}
.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }