.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}


.modalContainer{
    position: absolute;
    width: 500px;
    height: 600px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 500;

}

.loginModalDiv{    
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    border-spacing: 5px;
    background-color: rgb(117, 124, 224);
    border: solid 1px black;
    border-radius: 25px;    
    border-spacing: 10px;


}


.loginModal2Div{    
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    border-spacing: 5px;
    background-color: rgb(117, 124, 224);
    border: solid 1px black;
    border-radius: 25px;    
    border-spacing: 10px;
}

.loginModalDiv input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    text-indent: 10px;
}


.loginModal2Div input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    text-indent: 10px;
}


.classInfoInput {    
    width: 90%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    text-indent: 0.5em;
    height:100%;
}


.ModalTd{
    width: 30%;
    background-color: #DDE7FF;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    border-top: 3px solid rgb(117, 124, 224);
    border-bottom: 3px solid rgb(117, 124, 224);
}

.Modaltd{
    width: 20%;
    background-color: rgb(117, 124, 224);
    font-weight: bold;
    font-size: 15px;

}
.RegistBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;  
    margin-left: auto;
    width:80px;
    height:40px;
    
    
}

.RegistBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.RegistBtn:active{
    position:relative;
	top:1px;
}

.ModifyBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: auto;
    width:115px;
    height:40px;
}

.ModifyBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.ModifyBtn:active{
    position:relative;
	top:1px;
}

.CancelBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #666666;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 20px;  
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    width:115px;
    height:40px;
}

.CancelBtn:hover{
    background-color:#666666;
    border:1px solid #666666;
    color:  white;
}


.CancelBtn:active{
    position:relative;
	top:1px;
}