.qnaDetailtableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 730px;
    height: 800px;
    background-color: #F6F9FF;
    margin-left: 5px;
}

.qnaDetailtableCss{
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}

.qnaDetailtableCss th, td {
    padding: 10px;
    height: 10px;
    text-align: center;
    word-break:break-all;
    table-layout:fixed;
}

.qnaText{
    background-color:#d7e4fe;
    width: 100px;
    height: 50px;
}


.contentTextArea{
    width: 90%;
    height: 250px;
    resize: none;
    border: none;
}

.qnaDetailInput{
    border: none;
    
}


.qnaTableDiv{
    width: 600px;
    height: 700px;
    display: flex;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px rgba(34, 36, 38, 0.15);

}

.QnaBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    margin-left: 625px;
    font-weight: bold;  
}

.QnaBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.QnaBtn:active{
    position:relative;
	top:1px;
}