.DetailDiv{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.DetailDiv div{
    width: 550px;
    height: 350px;
}

.imgDiv{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.imgDiv img {
    margin: 5px;
    width: 70%;
    height: 50%;
}

.imgDiv button {
    margin: 5px;
    height: 8%;
    width: 80%;
}

.descriptionDiv{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.descriptionTable{ 
    width: 100%;
    height: 100%;
}
