.classSection{
    display: flex;
    flex-direction: row;
    width:70%;
    background-color: #4574eb;
    margin-top: 30px;
    height:90%;
    border-radius: 10px;
    margin-left:200px;
}

.name{

    margin-left: 200px;
}

.classInfoDiv{
    width : 100%;
    height: 60%;
  
}

.scheduleTable{
    height:100%;
    border-spacing: 40px;

}

.scheduleTd{
 background-color: #4574eb;
}
input[type=checkbox] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    background-color: white;
}

input[type=checkbox] {
    display: none;
}

.classTableTd{
    width: 10%;
    background-color: #DDE7FF;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
}

.classTabletd{
    width: 10%;
    background-color: white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
}


.classInfoDiv input {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: white;
    width : 100%;
    font-size: 15px;
    border : 0; 
    font-weight: bold;
}


.classInfoInput {    
    width:100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: white;
    text-indent: 0.5em;
}
.subjectInfoInput{
    width:100%;
    height:35px;
}

.subjectTabletd {    

    background-color: #4574eb;

}

.classInfoDiv table {
    width: 100%;
    border-spacing: 30px;
    height:60%;

}

.textAreaStyle {
    width: 100%;
    height: 6.25em;
    border: 0;
    resize: none;
    font-weight: bold;
    font-size : 1em;
}

.classButtonDiv{
    display: flex;
    justify-content: flex-end;
}
.classButtonDiv button{
    margin: 5px;    
    margin-top: 15px;
    margin-bottom: 15px;
    height: 25px;
    width: 150px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}


.btnRegist{
    width: 100px;
    height: 50px;
    
    margin-right: 30px;
    margin-left : 10px;
    margin-top : 20px;
    background-color:  #2F65EB;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: auto;  
    font-weight: bold;
    float:right;
}

.btnCancle{
    width: 100px;
    height: 50px;
    margin-right: 200px;
    margin-left : 10px;
    margin-top:20px;
    color: black;;
    background-color:  #d6d9db;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: auto;  
    font-weight: bold;
    float:right;
    border: 0;
}