/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    } */
    
    .main {
        width: 100%;
        height: 78vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
    
    .wrapper{
        height: auto;
        min-height: 100%;
    }
    