.bodyDiv{
    display: flex;
    flex-direction: column;
  
}
.h2{
    margin-top:50px;
}

.noticeTable{
    width: 1100px;
    text-align: center;
    border-style:none;
    border-collapse: collapse;
}

.NoticeBtn{
    background-color:#ffffff;
	border-radius:10px;
	border:1px solid #3f6fe9;
	cursor:pointer;
	color:#3f6fe9;
	font-size:17px;
	padding:5px 20px;
    font-weight: bold;
    margin-top : 10px;  
    margin-left: auto;
    width:80px;
}

.NoticeBtn:hover{
    background-color:#3f6fe9;
    border:1px solid #3f6fe9;
    color:  #fbfbfb;
}


.NoticeBtn:active{
    position:relative;
	top:1px;
}


.buttonDiv{
    display: flex;
    flex-direction: row;
    
}

.noticeTable tr:hover { 
    background-color: #F5F5F5; 
}

.noticeTable tr {
    cursor: pointer;
}

.noticeTable td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid gainsboro ;

}

.noticeTable th {
    border-top: 2px solid #2f59ca;
    border-bottom: 2px solid #2f59ca;
}
.pagingBtn{
   
    margin: 5px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background-color: white;
    font-weight: bold;
    color:rgb(112, 112, 112);

}

.pagingBtn:hover{
    color: black;
    cursor: pointer;
}

.InputStyle {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
   
}
.search{
    margin-left: 790px;
    margin-bottom: 20px;
    float:right;
    position: relative;
    width: 200px;
    margin-top:0px;
    margin-bottom: 20px;

}
.search img {
    
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin-top: 10px;

  }

  .noticeHeader div {
    display: inline-block;
    flex-direction: row;
}

.noticeHeader h2 {
    margin-top: 40px;
}




