.subjectSection{
    display: flex;
    flex-direction: row;
}

.noticeInfoDiv{
    display: flex;
    width: 750px;
    
}

.noticeInfoInput {    
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    text-indent: 0.5em;
    border-radius: 5px;
    border-spacing: 0px;
    border-width: 0px;
}

.noticeInfoDiv table {
    width: 100%;
}

.noticeContentInput {
    height: 400px;
    width : 720px;
}

.textAreaStyle {
    width: 100%;
    height: 6.25em;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}

.noticeTable{
    width: 900px;
    margin : 10px;
}

.noticeTable tr:hover { 
    background-color: #F5F5F5; 
}

.noticeTable tr {
    cursor: pointer;
}

.noticeTable td {
    padding : 0px;
    padding-top:0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(168, 165, 165, 0.945);
    border-radius: 0%;

}

.noticeTable th {
    cursor: pointer;
    padding-top : 10px;
   padding-bottom: 10px;
   border-top: 3px solid rgba(60, 63, 212, 0.945);
   border-bottom: 3px solid rgba(60, 63, 212, 0.945);
   color:rgba(60, 63, 212, 0.945);
}