.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.noticeTable{
    width: 900px;
    margin : 10px;
}

.noticeTable tr:hover { 
    background-color: #F5F5F5; 
}

.noticeTable tr {
    cursor: pointer;
}

.noticeTable td {
    padding-top:10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(168, 165, 165, 0.945);
    border-radius: 0%;

}

.noticeTable th {
    cursor: pointer;
    padding-top : 10px;
   padding-bottom: 10px;
   border-top: 3px solid rgba(60, 63, 212, 0.945);
   border-bottom: 3px solid rgba(60, 63, 212, 0.945);
   color:rgba(60, 63, 212, 0.945);
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    color: gray;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: white;
}